<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>登录</title>
</head>
<body>
    <canvas id="myCanvas" class="myCanvas"></canvas>
    <script src="{{ url_for('static', filename='js/rain.js') }}"></script>
    <div class="login-wrapper">
        <div class="header">指北</div>
        <div class="content">
            <p>
                这里什么也没有 :(
            </p>
            <p>
                可能是因为作者比较懒吧 ;]
            </p>
            <img  src="https://avatars.githubusercontent.com/u/109491699?v=4" width="50px" height="50px">
        </div>
        <a href="/login"><button class="btn">登录</button></a>
    </div>
</body>
</html>
