<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header>
        <div>
            <span>当前用户: <!--name--></span>
        </div>
        <div>
            <a href="/logout">退出登录</a>
            |
            <a href="/feedback">发送反馈</a>
        </div>
    </header>
    <div style="display: flex; flex: 1;">
        <div class="sidebar expanded" id="sidebar"> <!-- 默认展开状态 -->
            <nav id="sidebar-nav">
                <div style="display: flex;justify-content: flex-end;">
                    <button id="toggle-button" class="sidebar-button" style="display: none;">>收起侧边栏</button> <!-- 添加按钮 -->
                </div>
                <ul style="padding: 0; margin: 0; list-style: none;">
                    <li>
                        <button class="sidebar-button" onclick="location.href='/'">首页</button>
                    </li>
                    <li>
                        <button class="sidebar-button" onclick="location.href='/user'">个人课表</button>
                    </li>
                    <!--Class List-->
                    <li>
                        <button class="sidebar-button" onclick="location.href='/create_class'">新建班级</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="content" class="content content-expanded"> <!-- 默认展开状态的内容 -->
            <!--Content-->
        </div>
    </div>

    <script src="/static/js/sidebar.js"></script>
</body>
</html>
