<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>注册</title>
</head>
<body>
    <canvas id="myCanvas" class="myCanvas"></canvas>
    <script src="{{ url_for('static', filename='js/rain.js') }}"></script>
    <div class="login-wrapper">
        <div class="header">注册</div>
        <form method="post" id="registrationForm">
            <div class="form-wrapper">
                <input type="text" id="name" name="name" placeholder="真实姓名" class="input-item" required>
                <input type="number" id="studentId" name="id" placeholder="学号/工号" class="input-item" required>
                <input type="email" id="email" name="email" placeholder="邮箱" class="input-item" required>
                <button type="submit" class="btn">下一步</button>
            </div>
            <div class="msg">
                已有账户?
                <a href="/login">登录</a>
            </div>
            <div class="msg">
                这是什么东西??? 
                <a href="/about">了解一下</a>
            </div>
        </form>
        
    </div>
    <script>
        document.getElementById('registrationForm').addEventListener('submit', function (event) {
            // 获取所有输入值
            const name = document.getElementById('name').value;
            const id = document.getElementById('studentId').value;
            const email = document.getElementById('email').value;
    
            // 检查是否包含 <script> 标签
            const scriptPattern = /<script.*?>.*?<\/script>/i;
            if (scriptPattern.test(name) || scriptPattern.test(id) || scriptPattern.test(email)) {
                alert('输入中包含不安全的内容，请检查！');
                event.preventDefault(); // 阻止表单提交
            }
        });
    </script>
</body>
</html>
