<!DOCTYPE html>
<html>
    <head>
        <title>temp test page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/a.css') }}">
        
    </head>
    <body>
        <canvas id="myCanvas" class="myCanvas"></canvas>
        <script src="{{ url_for('static', filename='js/rain.js') }}"></script>
        <h1 class="warning">Warning: 凡人, 请勿触碰此页面</h1>
        <div style="width: 90%; height: 90%; margin: 20px; padding: 20px; border: 1px solid black; background-color: #f2f2f2; box-shadow: 5px 5px 5px #888888;">
        
        </div>
        <a href="/">返回首页</a>
    </body>
</html>